.board-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 512px;
    width: 512px;
    margin: auto;
    border-radius: 8px;
    grid-gap: 1px;
}

.black-square {
    background-color: #777;
}

.white-square {
    background-color: #999;
}
